*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_pill{
  background-color:#e4002b;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 14px;
}

/* a:hover{
  text-decoration: none;
  background-color: aqua;
  cursor: pointer;
  color: #e4002b;
} */

